/**global**/
html{
    font-family: 'Montserrat', sans-serif;
    
}

/**body**/
.conteiner{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
        
}
.box{
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    width: 30%;
    position: absolute;
    top: 15%;
    background-color: lightgrey;

    

}

.box h1{
    display: flex;
    border: 1px black solid;
    text-align: center;
    justify-content: space-around;
    font-size: 1.6rem;
    background-color: aquamarine;
    width: 85%;
    padding: 3%;
    margin: 3%;
    
    
}
.text-area{
    display: flex;
    border: 1px black solid;
    width:fit-content;
    align-items: flex-start;
    background-color: aquamarine;
    padding: 0.3rem;
    gap: 5px;
    margin-bottom: 3%;
}
.back{
    display: flex;
    justify-content: center;  
}
.section_mensagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
    
.mensagem_nova{
    width: 80%;
}
.mensagem_nova p{
    border: 1px black solid;
    margin: 1%;
    background-color: aquamarine;
}
#btn_limpar{
    margin-right: 1%;
}
.escopobotao{
    display: flex;
    justify-content: flex-end;
    
}
.scroll{
    background-color:white;
    width: 90%;
    height: 200px;
    overflow-y: scroll;
    border: 1px black solid;
    
  }